<div class="footer-inner">
  <script>
  window.addEventListener('load', async () => {
      if (window.localStorage.getItem('ClientWorkerInstall') === 'true' && window.localStorage.getItem('ClientWorkerConfig') !== 'true') {
          await fetch('/cw-cgi/api?type=config').then(res => res.text())
         .then(res=>{
              if(res==='ok'){
                  window.localStorage.setItem('ClientWorkerConfig', 'true')
                  window.location.reload()
              }else{
                  console.error(`ClientWorkerConfig Error:${res}`)
              }
          })
      } else {
          navigator.serviceWorker.register(`/cw.js?time=${new Date().getTime()}`)
              .then(async reg => {
                  if(window.localStorage.getItem('ClientWorkerConfig') === 'true')return;
                  console.log('ClientWorker Installed,Need to reload page to Config!')
                  window.localStorage.setItem('ClientWorkerInstall', 'true');
                  setTimeout(() => {
                      window.location.search = `?time=${new Date().getTime()}` //#1
                  }, 200)
              }).catch(err => {
                  console.error(`ClientWorker Install Failed:${err}`)
              })
      }
  });
  </script>
  <% if (theme.footer.content) { %>
    <div class="footer-content">
      <%- theme.footer.content %>
    </div>
  <% } %>
  <% if (theme.footer.statistics.enable) { %>
    <%- partial('_partials/footer/statistics.ejs') %>
  <% } %>
  <% if(theme.footer.beian.enable) { %>
    <!-- 备案信息 ICP for China -->
    <%- partial('_partials/footer/beian.ejs') %>
  <% } %>
  <% if(theme.web_analytics.cnzz) { %>
    <!-- cnzz Analytics Icon -->
    <span id="cnzz_stat_icon_<%= theme.web_analytics.cnzz %>" style="display: none"></span>
  <% } %>
</div>
